<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis gastos</title>
  <script src="script.js" defer></script>
</head>
<body>
  <table id="registrosTable">
      <thead>
          <tr>
              <th>Monto</th>
              <th>Categoría</th>
              <th>Banco</th>
              <th>Descripción</th>
              <th>Fecha</th>
          </tr>
      </thead>
      <tbody id="tableBody">
      </tbody>
  </table>
</body>
</html>