<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="script.js" defer></script>
</head>
<body>
  <div id="categorias-container">
     <h3>Categorías</h3>
     <ul id="lista-categorias"></ul>
     <button id="agregar-categoria">Agregar</button>
  </div>
  <div id="metodos-container">
     <h3>Métodos de pago</h3>
     <ul id="lista-metodos"></ul>
     <button id="agregar-metodo">Agregar</button>
  </div>
</body>
</html>